<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <!-- Основная строка подключения. При необходимости поменяйте Data Source на свой сервер из SSMS. -->
    <add name="AppExamDb"
         connectionString="Data Source=(localdb)\MSSQLLocalDB;Initial Catalog=AppExamDb;Integrated Security=True"
         providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>
